 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300"); 
 header{
     margin:0;
 }

body{  
    background:url ("assets/images/vintage-concrete.png" alt = "game">);
background-repeat: no repeat;
background-size :cover;
}