 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300"); 
 header{
     margin:0;
 }
/* Background pattern from Toptal Subtle Patterns */
body{  
    background:url("../assets/images/vintage-concrete.png");
background-repeat: no repeat;
background-size :cover;
}
.container{
    margin: 0 auto;
    text-align: center;
}
h1{ 
    font-size: 100px;
}

.gamePad{
    margin:0 auto;
    margin top: 10px;
    padding:50px;
    border: 10px  solid  black;
    width:600px;
    height:340px;
    border radius:37px 0px 0px 0px;
    
}


  .blue {
    background-color:rgb(26, 0, 170);
    -moz-border-radius: 300px 0 0 0;
    border-radius: 300px 0 0 0;    
}

.blue-active {
  background-color: rgb(0, 2, 100) !important;
}

.yellow {
  background-color: yellow;
  -moz-border-radius: 0 300px 0 0;
  border-radius: 0 300px 0 0;
}


.yellow-active {
  background-color: #e6d47e !important;
}

.green {
  background-color: green;
  -moz-border-radius: 0 0 300px 0;
  border-radius: 0 0 300px 0;
}

.green-active {
  background-color: green !important;
}

.orange {
  background-color: orange;
  -moz-border-radius: 0 0 300px 0;
  border-radius: 0 0 300px 0;
}

.orange-active {
  background-color: orange!important;

}





